#c {
    border: 1px black solid;
    width: 200px;
    height: 200px;
}

#container {
    position: relative;
}

#controls {
    display: inline-block;
    position: absolute;
    top: 0px;
    padding-left: 15px;
}

#display .container {
    border: 1px solid black;
    margin: 2px;
    display: inline-block;
    position: relative;
}

#display #info {
    position: absolute;
    bottom: 0px;
    padding: 2px;
    background: grey;
    opacity: 0.7;
    color: white;
}